html
  head
    title= title
  style
    include style.css
  body
    div.index
        if process
            a.runButton(href="/run") Запустить парсинг
        else
            a.stopButton(href="/stop") Остановить парсинг