body {
    background: #eee;
}

h1 {
    text-align: center;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.photo {
    max-width: 300px;
    margin: 20px;
    transition: .25s;
}

.photo .body {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.photo:hover {
    transform: scale(1.1);
}

.photo .title {
    color: #222;
    text-decoration: none;
    font-size: .5em;
    text-align: center;
    margin: 5px 0;
}

.photo img {
    width: 100%;
}

.process {
    font-size: .7em;
    color: #555;
    margin-bottom: 10px;
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 10px;
    padding: 10px 15px;
    background: #333;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    text-decoration: none;
    color: #fff;
    transition: .2s;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #555555;
}

.button.runButton {
    background: #076c07;
}
.button.runButton:hover {
    background: #0da80d;
}
.button.stopButton {
    background: darkred;
}
.button.stopButton:hover {
    background: red;
}
.button[disabled=disabled] {
    background: #999;
    pointer-events: none;
}
.index-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.index-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}
.index-form .form-input {
    margin: 5px 0;
}
.index-form .form-input label {
    display: block;
}
.index-form form input {
    padding: 7px;
    border: 1px solid transparent;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    transition: .2s;
}
.index-form form input:focus {
    border: 1px solid #f6e09c;
    outline: none;
}

.parser-list {
    max-width: 600px;
    margin: auto;
}
.parser-list .item {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.parser-list .item .process {
    font-size: .75em;
    text-align: center;
}
.parser-list .item > div {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.parser-list .item > div .button {
    width: 50%;
    text-align: center;
    margin: 1px 0;
}
.parser-list .item > div .button:first-child {
    margin-top: 0;
}
.btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.link {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 5px 0;
}